Results
********* Welcome to the longest word-game! *********
1. Generate random set of 9 letters
2. Display the set of letters to user
3. Ask what is your longest word? (Question to user)
4. Validate answer: 1) your word is an actual English word, and 2) that every letter in your word appears in the grid (remember you can only use each letter once).
5. Results, if not valid, show results = 0 and give explanation
6. Results, if valid, The score depends on the time taken to answer, plus the length of the word you submit. The longer the word and the quicker the time, the better the score! Feel free to invent your own penalty rules too!
Here is your grid:
Q F M R K L I T P
*****************************************************
What is your longest word?
lift
******** Now your results ********
Your word: lift
Time Taken to answer: 12.07916
Your score: 3.194722666666667
Message: Well Done!
